.styles__app___1xE8N {
  -webkit-box-shadow: rgba(0, 0, 0, .156863) 0px 3px 10px, rgba(0, 0, 0, .227451) 0px 3px 10px;
          box-shadow: rgba(0, 0, 0, .156863) 0px 3px 10px, rgba(0, 0, 0, .227451) 0px 3px 10px;
  left: 25px;
  height: 146px;
  position: absolute;
  top: 25px;
  width: 25%;
  padding: 10px;
}
